# Path to your Cyberpunk installation
CYBERPUNK_PATH = G:\SteamLibrary\steamapps\common\Cyberpunk 2077

# Path to your RVC (can be absolute or relative to this project)
RVC_PATH = ..\Retrieval-based-Voice-Conversion-WebUI
# Path to RVC's venv, relative to the above path; leave empty to use globally installed poetry
RVC_VENV = 

# Path where ffmpeg can be found (shipped with RVC usually)
FFMPEG_PATH = ..\Retrieval-based-Voice-Conversion-WebUI
